{% load staticfiles %}
{% load static %}

<br>
<a href="accounts/register"> Регистрация </a>
<br><br><br>
тест

{% block dom %}
{% endblock %}
<br>
{% block register %}
{% endblock %}

тест 1

а вот и новая регистрация <br>

<a href="sero/sero"> Новая регистрация </a>


<!doctype  html>
<html  lang="en">
<head>
<link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
<title>Django Authentication Example</title>
</head>
<body>
  <div  class="container">
    <div  class="row justify-content-center">
      <div  class="col-4">
      <h1  class="text-center">Django Authentication Example</h1>
      {% block main %}
      {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>