{% extends 'index.html' %}

{% block register %}
<br><br> новая регистрация

<form action="sero" method="post">
    {% csrf_token %}

    <input type="text" name="user_name" placeholder="user_name"><br>
    <input type="mail" name="user_mail" placeholder="user_mail"><br>
    <input type="password" name="password1" placeholder="Password"><br>
    <input type="password" name="password2" placeholder="Confirm Password"><br>
    <input type="Submit">

</form>

<div>
    {% for message in messages %}
    <h3>
        {{ message }}
    </h3>
    {% endfor %}
</div>

{% endblock %}

